ul
	list-style-type: none

body
	margin: 0
	padding: 0
	background-color: #EEE

nav
	li
		padding-left: 1em
		display: inline
	.accDrop
		color: black
		text-decoration: none
	.dropDown
		position: relative
		display: inline-block
	:hover .dropContent
		display: block
	.dropContent
		display: none
		position: absolute
